<div class="social-page">
  <header class="social-header">
    <div>
      <h1 class="social-title">Social Networks</h1>
      <p class="social-subtitle">{{ socials?.length || 0 }} link total</p>
    </div>
    <button class="btn-primary" data-bs-toggle="modal" data-bs-target="#createSocialModal">
      <i class="fa fa-plus"></i> New Link
    </button>
  </header>

  <div class="social-card">
    <table class="social-table" *ngIf="socials?.length; else emptyState">
      <thead>
        <tr>
          <th class="col-icon"></th>
          <th>Title</th>
          <th>URL</th>
          <th class="col-actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of socials">
          <td class="col-icon">
            <span class="social-icon"><i class="fa" [ngClass]="item.icon"></i></span>
          </td>
          <td class="social-name">{{ item.title }}</td>
          <td>
            <a [href]="item.url" target="_blank" class="social-link">{{ item.url }}</a>
          </td>
          <td class="col-actions">
            <button class="icon-btn icon-btn--edit" data-bs-toggle="modal" data-bs-target="#editSocialModal" (click)="onSelected(item)" title="Edit">
              <i class="fa fa-edit"></i>
            </button>
            <button class="icon-btn icon-btn--danger" (click)="delete(item.id)" title="Delete">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #emptyState>
      <div class="empty-state">
        <i class="fa fa-share-alt"></i>
        <p>No social links yet</p>
        <span>Add links to your social media profiles</span>
      </div>
    </ng-template>
  </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="createSocialModal" tabindex="-1" aria-labelledby="createSocialModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content social-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="createSocialModalLabel">Add Social Link</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #createForm="ngForm" (ngSubmit)="createSocial(); createForm.resetForm()">
        <div class="modal-body">
          <div class="form-field">
            <label>Title</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="newSocial.title" required placeholder="LinkedIn">
          </div>
          <div class="form-field">
            <label>URL</label>
            <input type="text" class="form-control" name="url" [(ngModel)]="newSocial.url" required placeholder="https://linkedin.com/in/...">
          </div>
          <div class="form-field">
            <label>Icon (Font Awesome class)</label>
            <input type="text" class="form-control" name="icon" [(ngModel)]="newSocial.icon" placeholder="fa-linkedin">
            <div class="icon-preview" *ngIf="newSocial.icon">
              <i class="fa" [ngClass]="newSocial.icon"></i> preview
            </div>
          </div>

          <div *ngIf="errors.length > 0">
            <div *ngFor="let errorObj of errors">
              <div *ngFor="let entry of (errorObj | keyvalue)">
                <span class="field-error">{{ entry.value }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-ghost" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn-primary"><i class="fa fa-save"></i> Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editSocialModal" tabindex="-1" aria-labelledby="editSocialModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content social-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="editSocialModalLabel">Edit Social Link</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #editForm="ngForm" (ngSubmit)="update()">
        <div class="modal-body">
          <div class="form-field">
            <label>Title</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="editSocial.title" required>
          </div>
          <div class="form-field">
            <label>URL</label>
            <input type="text" class="form-control" name="url" [(ngModel)]="editSocial.url" required>
          </div>
          <div class="form-field">
            <label>Icon (Font Awesome class)</label>
            <input type="text" class="form-control" name="icon" [(ngModel)]="editSocial.icon">
            <div class="icon-preview" *ngIf="editSocial.icon">
              <i class="fa" [ngClass]="editSocial.icon"></i> preview
            </div>
          </div>

          <div *ngIf="errors.length > 0">
            <div *ngFor="let errorObj of errors">
              <div *ngFor="let entry of (errorObj | keyvalue)">
                <span class="field-error">{{ entry.value }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-ghost" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn-primary" [disabled]="editForm.invalid"><i class="fa fa-edit"></i> Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
